@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: #141b26;
  color: #fdfdfd;
  font-family: "Roboto Slab" , serif;
}

.image-inverted {
  filter: invert(100%);
}
.navlink{
font-weight: 600;
test-transform: uppercase;
margin-right:8px ;
margin-left: 8px;
padding: 6px 15px;
border-radius: 10px;
text-decoration: none;
letter-spacing: 1px;

}